#available_settings_issue_view_default_columns,
#selected_settings_issue_view_default_columns,
#available_c,
#selected_c {
    width: 250px !important;
}

#issue_tree td.checkbox,
#relations td.checkbox {
    display: table-cell !important;
}

.ivc-relations-wrapper .ivc-hidden {
    display: none;
}

.ivc-relations-wrapper .ivc-relations-toggle {
    margin-top: 0.5em;
}

@media screen and (max-width: 799px) {
    table.list.issues>tbody>tr:first-child {
        display: none;
    }
}

.ivc-hidden { display: none; }
